<header>
    <h1>Cafetería MBC</h1>
    <P>Desde 2004</P>
</header>
<main>
    <hr>
    <article>
        <h3>Café</h3>
        <img src="https://cdn.freecodecamp.org/curriculum/css-cafe/coffee.jpg" alt="Café" title="Café">
        @for(item of items; track item.id){
            <app-item [id] = item.id [name] = "item.name" [price] = "item.price" (delete) = "deleteItem($event)"/>
        }
    </article>
    <article>
        <h3>Postres</h3>
        <img src="https://cdn.freecodecamp.org/curriculum/css-cafe/pie.jpg" alt="Tarta" title="Tarta">
        @for(item of desserts; track item.id){
            <app-item [id] = item.id [name] = "item.name" [price] = "item.price" (delete) = "deleteItem($event)"/>
        }        
    </article>
    <article id = "inputs">
        <select name="eleccion" id="eleccion" [(ngModel)] = "choice">
            <option value="cafes">Café</option>
            <option value="postres">Postre</option>
        </select>
        <input type="text" [(ngModel)] = "name">
        <input type="text" [(ngModel)] = "price">
        <button (click) = "addChoice(choice, name, price)">Añadir</button>
    </article>

</main>
<footer>
    <hr>
</footer>
